.search-bar {
  position: relative;
  flex-grow: 1;
}

.search-bar input {
  width: 100%;
  padding: 10px 35px 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}
